<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.luojilab.share.kotlin">

    <application
        android:name="com.luojilab.share.runalone.application.KotlinApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/commonAppTheme">
        <activity android:name=".ShareMessageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
